@font-face {
	font-family: GloriaHallelujah;
	src: url(../fonts/GloriaHallelujah.ttf);
}

@font-face {
	font-family: IndieFlower;
	src: url(../fonts/IndieFlower.ttf);
}

@font-face {
	font-family: JKGothic;
	src: url(../fonts/JKGothic.ttf);
}

@font-face {
	font-family: Raleway-Regular;
	src: url(../fonts/Raleway-Regular.ttf);
}